{{#if blogs.length}}

{{#each blogs as |Blog| }}
<section class="card">
    <header >{{Blog.title}}</header>

    <p class="card-body">{{Blog.text}}</p>


    <footer>{{Blog.artist}}</footer>
</section>
{{/each}}
{{/if}}